* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Main color palette */
:root {
/* Main color palette */
    --primary-color: #fff;
    --secondary-color: #2E2E2E;
    --detail-color: #BB3300;
    --heading-fontsize: 2rem;

}

/* whole nav section */
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; /* centers items vertically */
    background-color: var(--primary-color);
    padding: 1rem;
}

.logo {
    width: 50%;
}

.logo img {
    width: 40%;
    height: auto;
}

/* Nav button styling */
.nav-btns {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin-right: 3rem;
}

.nav-btns li {
    list-style: none;
}

.nav-btns li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.2rem;
}

/* burger menu */
.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 2rem;
    height: 0.25rem;
    margin: 0.4rem;
    background-color: var(--secondary-color);
    transition: all 0.3s ease;
    
}

/* hovers */
.nav-btns li a:hover {
    color: var(--detail-color);
}

/* Dropdown menu */

.dropdown-menu {
    display: none; /* Hide dropdown menu by default */
}

.dropdown-menu ul {
    list-style: none;
    margin-top: 1rem; /* Adds spacing between the nav links and dropdown menu */
}

.dropdown-menu ul li {
    text-align: center;
}

.dropdown-menu ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    padding: 0.5rem;
}


/* Responsive nav */
@media (max-width: 786px) {
    .logo {
        width: 50%;
    }
    .nav-btns {
        display: none;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .dropdown-menu.show {
        display: block;
    }
}



/* Header section */
header {
    height: 60vh; 
    position: relative;
}

header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* header content*/
.header-content {
    position: absolute; /* position this relative to the header */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centers the content */
    text-align: center;
    color: var(--primary-color);
    z-index: 1; /* set this to a higher number to see the content on top of the image */
}

.header-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem; /* add some spacing between the paragraph text */
}

.header-content p {
    font-size: 1.4rem;
    margin-bottom: 3rem; /* adds space between the paragraph & the button */
}

header button {
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    /* border: solid 1rem var(--detail-color); */
    border-radius: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease; /* smooth transition effect */
}

header button a {
    color: var(--secondary-color);
    text-decoration: none;
}

/* hover effects */
header button:hover {
    background-color: var(--detail-color);
    border: solid 0.1rem var(--primary-color);
    color: var(--primary-color);
}

header button a:hover {
    color: var(--primary-color);
}


/* EQUIPMENT SECTION */
#equipment {
    background-color: var(--primary-color);
    padding: 5rem 0;
    text-align: center;
}

#equipment h2{
    text-align: center;
    margin-bottom: 3rem;
    font-size: var(--heading-fontsize);
}

/* this is the container */
.filter-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3.125rem;
    list-style-type: none;
}

/* individual buttons */
.filter-button {
    display: inline-block;
    padding: 0.75rem 1.875rem;
    border-radius: 0.5rem;
    margin: 0.625rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0.125rem solid var(--detail-color);
    font-size: 1.125rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/* hover and active styles */
.filter-button:hover,.filter-button.active  {
    background-color: var(--detail-color);
    color: var(--primary-color);
    border: 0.125rem solid var(--secondary-color);
}

/* the row section */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.col-6, .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 25%
}

.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-6 a {
    text-decoration: none;
    color: var(--secondary-color);
}

#equipment img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1.25rem;
}

.equipment-info {
    text-align: center;
}

.equipment-title {
    font: 1.5rem;
    font-weight: 400;
    margin-top: -0.8rem;
    margin-bottom: 0.625rem;
}

/* this is for the pragraph tag (if i want to implement it */
/* .equipment-text {
    font-size: 1rem;
} */

/* PACKAGES SECTION */
#packages {
    background-color: var(--secondary-color);
    padding: 5rem 2rem;
    text-align: center;
  }

  #packages h2, #packages p {
    color: var(--primary-color);
  }

  /* the h2 underline */
  #packages h2 {
    position: relative;
    display: inline-block;
  }

  #packages h2:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.4rem;
    background-color: #d43a02;
    bottom: -8px;
    left: 0;
  }

  #packages h2:hover:after {
    transform: scale(1.1);
  }
  

  /* packages p*/
  #packages p {
    font-size: 1.25rem;
  }

  .packages-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .packages-container h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  /* Packages group */
  .-packages-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
  }
  
  /* Package row */
  .package-row {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 40px;
    text-align: left;
    background-color: #f3f3f3;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.252); 
    border-radius: 4px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
  }
  
  .package-row:hover {
    transform: translateY(-5px);
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
    box-shadow: 0.5rem 0.8rem 0.8rem rgba(187, 51, 0, 1);

  }
  
  .package-row h4 {
    font-size: 24px;
    margin: 20px;
  }
  
  .package-row ul {
    list-style: none;
    margin: 0;
    padding: 20px;
  }
  
  .package-row li {
    margin-bottom: 10px;
  }
  
  
  
  /* contact button */
  .contact-btn {
    background-color: #d43a02;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    padding: 0.625rem 1.25rem;
    font-size: 1.6rem;
    cursor: pointer;
  }
  
  .contact-btn:hover {
    background-color: #e65a00;
  }
  
/* ABOUT SECTION */
