/* Headering font */
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@400;500;600;700&display=swap');
/* Subheading font */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Main color palette */
:root {
/* Main color palette */
    --primary-color: #fff;
    --secondary-color: #2E2E2E;
    --detail-color: #BB3300;
    --heading-fontsize: 2.5rem;
    --heading-bottom: 2.5rem;
    --heading-font: Hind Guntur, sans-serif;
    --subhead-font: PT Sans Caption, sans-serif;

}

/* FONT SIZES */
h1, h2, h4 {
    font-family: var(--heading-font);
}

p {
    font-family: var(--subhead-font)
}

/* whole nav section */
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; /* centers items vertically */
    background-color: var(--primary-color);
    padding: 1rem;
}

.logo {
    width: 50%;
}

.logo img {
    width: 40%;
    height: auto;
}

/* Nav button styling */
.nav-btns {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin-right: 3rem;
}

.nav-btns li {
    list-style: none;
    font-family: var(--heading-font);
    font-weight: 600;
}

.nav-btns li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.2rem;
}

/* burger menu */
.burger {
    display: none;
    cursor: pointer;
}

.burger i {
  font-size: 1.5rem;
  margin-right: 1rem;
}

/* hovers */
.nav-btns li a:hover {
    color: var(--detail-color);
}

/* Dropdown menu */

.dropdown-menu {
    display: none; /* Hide dropdown menu by default */
    position: absolute; /* this made it so I was able to align the nav links below the burger icon */
    top: 3rem;
    padding-top: 1rem;
    left: 0; /* this fills the gap that was on the left */
    width: 100%; /* covers the width of the nav section */
    z-index: 999;
    background-color: var(--primary-color);
    transition: all 0.3s ease; /* Smooth transition */
}

.dropdown-menu ul {
    list-style: none;
    margin-top: 1rem; /* Adds spacing between the nav links and dropdown menu */
    padding: 0;
}

.dropdown-menu ul li {
    margin-bottom: 1rem;
}

.dropdown-menu ul li a {
  display: block;
  padding: 0.5rem;
  transition: background-color 0.2s ease-in-out;
}

.dropdown-menu ul li a {
    color: var(--secondary-color);
    font-family: var(--heading-font);
    font-weight: 500;
    line-height: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    padding: 0.5rem;
    text-align: center;
}



/* Responsive nav */
@media screen and (max-width: 767px) {
    /* nav section */
    .logo {
        width: 50%;
    }
    .nav-btns {
        display: none;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
    

    .dropdown-menu.show {
        display: block;
    }

/* the packages */
      .package-group {
        flex-direction: row;
        justify-content: center;
      }
      .package-row {
        flex-basis: 100% !important; /* this forces the stacked layout but keep
        in mind when adding anything to this section for the future  */
      }

    /* contact section */
    .contact-details, .contact-form {
        margin: 0 auto;
        text-align: center;
      }


      .contact-title:after {
        width: 25%;
      }

      
}




/* Header section */
header {
    height: 60vh; 
    position: relative;
}

header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* header content*/
.header-content {
    position: absolute; /* position this relative to the header */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centers the content */
    text-align: center;
    color: var(--primary-color);
    z-index: 1; /* set this to a higher number to see the content on top of the image */
}

.header-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem; /* add some spacing between the paragraph text */
    line-height: 3.5rem;
}

.header-content p {
    font-size: 1.4rem;
    margin-bottom: 3rem; /* adds space between the paragraph & the button */
}

header button {
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease; /* smooth transition effect */
    
}

header button a {
    color: var(--secondary-color);
    text-decoration: none;
    font-family: var(--heading-font);
    font-weight: 500;
}

/* hover effects */
header button:hover {
    background-color: var(--detail-color);
    border: solid 0.1rem var(--primary-color);
    color: var(--primary-color);
}

/* header button a:hover {
    color: var(--primary-color);
} */


/* EQUIPMENT SECTION */
#equipment {
    background-color: var(--primary-color);
    padding: 5rem 0;
    text-align: center;
}

#equipment h2{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

/* this is the container */
.filter-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3.125rem;
    list-style-type: none;
    font-family: var(--subhead-font);
}

/* individual buttons */
.filter-button {
    display: inline-block;
    padding: 0.75rem 1.875rem;
    border-radius: 0.5rem;
    margin: 0.625rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0.125rem solid var(--detail-color);
    font-size: 1.125rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/* hover and active styles */
.filter-button:hover,.filter-button.active  {
    background-color: var(--detail-color);
    color: var(--primary-color);
    border: 0.125rem solid var(--secondary-color);
}

/* the row section */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.col-6, .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 25%
}

.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-6 a {
    text-decoration: none;
    color: var(--secondary-color);
}

#equipment img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1.25rem;
}

.equipment-info {
    text-align: center;
}

.equipment-title {
    font: 1.5rem;
    font-weight: 400;
    margin-top: -0.8rem;
    margin-bottom: 0.625rem;
}

/* this is for the pragraph tag (if i want to implement it */
/* .equipment-text {
    font-size: 1rem;
} */

/* PACKAGES SECTION */
#packages {
    background-color: var(--secondary-color);
    padding: 5rem 3rem;
    text-align: center;
  }

  #packages h2, #packages p {
    color: var(--primary-color);
  }

  /* the h2 underline */
  #packages h2 {
    position: relative;
    display: inline-block;
  }

  #packages h2:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.4rem;
    background-color: #d43a02;
    bottom: -8px;
    left: 0;
    transition: transform 0.2s ease-in-out;
    transform-origin: center center;
  }

  #packages h2:hover:after {
    transform: scaleY(1.5); /* adding the Y makes a whole difference */
  }
  

  /* packages p*/
  #packages p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }

  .packages-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .packages-container h2 {
    font-size: 36px;
    margin-bottom: 4rem;
  }
  
  /* Packages group */
  .-packages-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
  }
  
  /* Package row */
  .package-row {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 40px;
    text-align: left;
    background-color: #f3f3f3;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.252); 
    border-radius: 4px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .package-row:hover {
    transform: translateY(-5px);
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
    box-shadow: 0.5rem 0.8rem 0.8rem rgba(187, 51, 0, 1);

  }
  
  .package-row h4 {
    font-size: 24px;
    margin: 20px;
  }
  
  .package-row ul {
    list-style: none;
    margin: 0;
    padding: 20px;
  }
  
  .package-row li {
    margin-bottom: 10px;
    font-family: var(--subhead-font);
  }
  
  
  
  /* contact button */
  .contact-btn {
    background-color: #d43a02;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    padding: 0.625rem 1.25rem;
    font-size: 1.6rem;
    cursor: pointer;
    font-family: var(--subhead-font);
  }

  .contact-btn a {
    color: #fff;
    text-decoration: none;
  }
  
  .contact-btn:hover {
    background-color: #e65a00;
  }
  
  
/* ABOUT SECTION */
/* Set the background color and add some padding */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f5f5f5;
    padding: 5rem 3rem;
  }
  
  /* Center the content in the container */
  .about-container {
    max-width: 68.75rem;
    margin: 0 auto;
  }
  
  /* Style the heading */
  .about-container h2 {
    font-size: var(--heading-fontsize);
    margin-bottom: -2rem;
  }
  
  /* Style the main text */
  .about-container p {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 2.5rem;
  }
  
  /* Add some spacing above and below the images */
  .about-container img {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  
  /* Style the image of the team */
  .about-container img[src="assets/the-crew/film-crew.jpg"] {
    width: 80%;
    max-width: 50rem;
    border-radius: 0.25rem;
    box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
  }

  /* styled link */
  .about-container a {
    color: var(--detail-color);
  }


  /* CONTACT SECTION*/
  
/* Contact section */
#contact {
    background-color: var(--secondary-color);
    padding: 80px 0rem;
    
  }

  .contact-title {
    display: flex;
    justify-content: center;
    font-size: var(--heading-fontsize);
    margin-bottom: 6rem;
    color: var(--primary-color);
    /* margin-left: 10rem; */

  }

  /* hover underline effect */
  .contact-title {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .contact-title:after {
    content: '';
    position: absolute;
    width: 200px; /* changing this to pixels stopped it from sliding around */
    text-align: center;
    height: 0.4rem;
    background-color: #d43a02;
    bottom: -8px;
    left: 2;
    transition: transform 0.2s ease-in-out;
    transform-origin: center center;
  }
  
  .contact-title:hover:after {
    transform: scaleY(1.5);
  }
  

  
  
  /* Contact container */
  .contact-container {
    display: flex; /* Add flex display */
    text-align: center;
    justify-content: center;
    flex-wrap: wrap; /* Wrap the child elements when the container is too small */
    justify-content: center; /* Center the child elements horizontally */
  }


  .contact-container p, .contact-container h2  {
    color: var(--primary-color);
  }
  
  /* Contact row */
  .contact-row {
    display: flex; /* Add flex display */
    flex-wrap: wrap; /* Wrap the child elements when the container is too small */
    justify-content: center; /* places items below the heading in the center */
    gap: 5rem;
  }
  
  /* Contact details column */
  .contact-details {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    margin-right: 5rem;
    text-align: center; /* Center the text horizontally */
    font-size: 1.25rem;
    margin-left: 5.5rem; /* helps center it individually */
    
  }

 /* Social media icons */
 .social-icons {
    margin-top: 2rem;
    text-align: center; /* Center the icons horizontally */
    width: 100%;
    font-size: 1.6rem;
    color: white;
  }
  
  /* Social media icon links */
  .social-icons a {
    color: var(--primary-color);
    margin-right: 1.25rem;
  }

  /* hover social media buttons */
  .social-icons a:hover {
    color: var(--detail-color);
  }
  
  
  /* Contact form column */
  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    margin-left: 2rem;

  }

  
  /* Contact form input fields */
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 5px;
    resize: none;
  }
  
  /* Contact form button */
  .main-contact-btn {
    background-color: var(--detail-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-family: var(--subhead-font);
  }

  /* hover contact button */ 
  .main-contact-btn:hover {
    background-color:#d43a02;
  }
  
/* FOOTER SECTION */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem 1rem;
}

.footer p {
    display: flex;
    align-items: center;
}

/* footer logo*/
.footer .logo {
    display: flex;
    justify-content: end;
}
  
/* scroll up button */
.scroll-up {
  display: none; /* this hides the button on intital load */
  position: fixed;
  bottom: 2em;
  right: 0.5em; 
  font-size: 1.6em; 
  color: #fff; 
  background-color: #000; 
  margin-right: 0.2rem;
  margin-bottom: 3rem; /* this makes sure it doesnt touch the footer logo */
  padding: 1.5vw 2vw;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}

.scroll-up i {
  transform: none; 
}

.scroll-up:hover {
  background-color: var(--detail-color);
}




  